/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
body{
    background: linear-gradient(135deg, #1f2937, #111827);
    color: #f5f5f5;
    font-family: Arial, sans-serif;
}

/* ===== LAYOUT ===== */
.layout{
  display: flex;
  min-height: 100vh;
}

/* ===== SIDEBAR ===== */
.sidebar{
  width: 250px;
  background: #020617;
  color: white;
  padding: 20px;
}

.logo{
  color: #22c55e;
  margin-bottom: 30px;
  text-align: center;
}

/* MENU */
.sidebar ul{
  list-style: none;
}

.sidebar li{
  margin: 15px 0;
}

/* BOTONES SIDEBAR */
.sidebar a{
  display: block;
  padding: 12px;
  border-radius: 10px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  background: #1f2937;
  transition: all 0.3s ease;
}

/* HOVER */
.sidebar a:hover{
  background: linear-gradient(135deg, #22c55e, #16a34a);
  color: black;
  transform: scale(1.05);
}

/* BOTÓN ACTIVO 🔥 */
.sidebar a.active{
  background: linear-gradient(135deg, #22c55e, #16a34a);
  color: black;
  box-shadow: 0 0 10px #22c55e;
}

/* ===== CONTENIDO ===== */
.main-content{
  flex: 1;
  padding: 20px;
  background: #111827;
}

/* TOPBAR */
.topbar{
  background: #1e293b;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
}

/* SECCIONES */
section{
  background: #1e293b;
  padding: 25px;
  margin-bottom: 20px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.5);
  transition: transform 0.3s;
}

section:hover{
  transform: translateY(-5px);
}

/* TITULOS */
.title{
  text-align: center;
  color: #22c55e;
  margin-bottom: 10px;
}

/* DASHBOARD */
.dashboard{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.card-dashboard{
  background: #1e293b;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 10px 20px rgba(0,0,0,0.4);
}

.card-dashboard h3{
  color: #22c55e;
  margin-bottom: 10px;
}

.card-dashboard p{
  font-size: 24px;
  font-weight: bold;
}

/* FORMULARIOS */
input, select{
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border-radius: 8px;
  border: 1px solid #555;
  background-color: #374151;
  color: #fff;
}

input:focus, select:focus{
  border-color: #22c55e;
  outline: none;
}

/* BOTONES FORM */
button{
  margin-top: 10px;
  padding: 12px;
  border-radius: 10px;
  border: none;
  background-color: #22c55e;
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover{
  background-color: #16a34a;
  transform: scale(1.05);
}

/* TABLA */
table{
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

thead{
  background: #020617;
}

th, td{
  padding: 12px;
  text-align: center;
}

tr{
  border-bottom: 1px solid #374151;
}

tbody tr:hover{
  background: #1f2937;
}

/* BOTON ELIMINAR */
td button{
  padding: 5px 10px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  background: #ef4444;
  color: white;
}